.ecota-navbar{
    z-index: 99;
    width: 100%;
    // background-color: rgba(128,128,128, 0.1);
    position: absolute;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-between;
    >div {
        padding: 0.04rem 0.15rem;
    }
    i {
        font-size: 20px;
    }
}

.options-container {
    color: #333333;
    text-align: left;
    &.last>div.options-time {
        border-bottom: none;
    }
    .segmented-group {
        float: right;
        width: 150px;
        margin-top: -5px;
        margin-right: 10px;
        >div.am-segment>div.am-segment-item {
            height: 25px;
        }
    }
    .options-time {
        padding-top: 0px;
        border-bottom: 1px solid #ddd;
        >div>div.am-list-item {
            padding: 0px;
        }
    }
    >div:first-child{
        margin-bottom: 5px;
        border-bottom: 1px solid #ddd;
    }
    >div {
        padding: 5px 10px;
    }
}

