html{
    font-size: 625% !important;
}

@media screen and (min-width:360px) and (max-width:374px) and (orientation:portrait) {
    html {
        font-size: 703%;
    }
}

@media screen and (min-width:375px) and (max-width:383px) and (orientation:portrait) {
    html {
        font-size: 732.4%;
    }
}

@media screen and (min-width:384px) and (max-width:399px) and (orientation:portrait) {
    html {
        font-size: 750%;
    }
}

@media screen and (min-width:400px) and (max-width:413px) and (orientation:portrait) {
    html {
        font-size: 781.25%;
    }
}

@media screen and (min-width:414px) and (max-width:431px) and (orientation:portrait) {
    html {
        font-size: 808.6%;
    }
}

@media screen and (min-width:432px) and (max-width:479px) and (orientation:portrait) {
    html {
        font-size: 843.75%;
    }
}

.animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

::-webkit-scrollbar {
    display: none !important;
    width: 0px !important;
    height: 0px !important;
}

html, body, #react-app-root {
    width: 100%;
    height: 100%;
    font-size: 0.14rem;
    overflow-x: hidden;
    background-color: #e2e2e2;
}

#react-app-root>div {
    width: 100vw;
    height: 100%;
}

#react-app-root .am-tabs-pane-wrap-active,
#react-app-root .am-tabs-pane-wrap-inactive {
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

a.am-button-ghost::before{
    border-radius: 1px !important;
}
a.am-button-ghost,
a.am-button-primary {
    border-radius: 1px;
}

div.am-tag-active,
div.am-tag-normal {
    &::before {
        border-radius: 1px !important;
    }
}
div.am-tag-active {
    background-color: #108ee9;
    color: #ffffff;
    border: none;
}

div.am-segment {
    border-radius: 1px;
    div.am-segment-item:first-child {
        border-radius: 1px 0 0 1px;
    }
    div.am-segment-item:last-child {
        border-radius: 0 1px 1px 0;
    }
}

.am-tabs-default-bar-content {
    >.am-tabs-default-bar-tab {
        height: auto;
        line-height: normal;
        >div {
            font-size: 14px;
            color: #666666;
        }
    }
    
    >.am-tabs-default-bar-tab-active>div {
        font-size: 14px;
        padding: 2px 15px;
        color: #FFFFFF;
        // background-color: #61A6D3;
        background-color: #108ee9;
        border-radius: 20px;
    }
    
}
