html{
    font-size: 625% !important;
}

@media screen and (min-width:360px) and (max-width:374px) and (orientation:portrait) {
    html {
        font-size: 703%;
    }
}

@media screen and (min-width:375px) and (max-width:383px) and (orientation:portrait) {
    html {
        font-size: 732.4%;
    }
}

@media screen and (min-width:384px) and (max-width:399px) and (orientation:portrait) {
    html {
        font-size: 750%;
    }
}

@media screen and (min-width:400px) and (max-width:413px) and (orientation:portrait) {
    html {
        font-size: 781.25%;
    }
}

@media screen and (min-width:414px) and (max-width:431px) and (orientation:portrait) {
    html {
        font-size: 808.6%;
    }
}

@media screen and (min-width:432px) and (max-width:479px) and (orientation:portrait) {
    html {
        font-size: 843.75%;
    }
}

.animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

::-webkit-scrollbar {
    display: none !important;
    width: 0px !important;
    height: 0px !important;
}

html, body, #react-app-root {
    width: 100%;
    height: 100%;
    font-size: 0.14rem;
    overflow-x: hidden;
    background-color: #e2e2e2;
}

.ecota-container {
    width: 100vw;
    height: 100%;
}